@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

:root{
    --green:#05429c;
    --black: #071952;
    --light-color:#526D82;
    --text-color:#fff;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid var(--green);
}


*{
    font-family: 'Nunito' sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html, body{
    font-size: 62.5%;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}


section:nth-child(even){
    background: #fff;
}

.logo img{
    width: 90%;
    height: 50%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}



header{
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color: var(--green);
}

header .logo span{
    color: var(--green);

}

header .navbar a{
    font-size: 1.8rem;
    border-radius: .5rem;
    text-align: right;
    padding-right: 1rem;
    margin-right: 1.5rem;
    padding: .4rem 0.5rem;
    color: var(--text-color);
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

/*==========search css form===========*/

#search-form{
    position: fixed;
    top: -110%; left: 0;
    height: 100%; width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active{
    top: 0;
}
#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    font-size: 3rem;
    color: #fff;
    text-transform: none;
    background: none;
}

#search-form #search-box::-webkit-file-upload-button{
    -webkit-appearance: none;
}

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color: var(--green);
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 5rem;
}

/*==========home css form===========*/

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(image/service-img.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

.home .home-slider .slide .content{
    flex: 1 1 45rem;
}


.home .home-slider .slide .content h3{
    color: var(--text-color);
    text-align: center;
    font-size: 5rem;
}

.home .home-slider .slide .content p{
    color: var(--text-color);
    font-size: 2.5rem;
    padding: 2rem 0;
    line-height: 1.5;
}

/*==========About Section CSS===========*/

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 60%;
}

.about .row .content{
    flex: 1 1 45rem;
}

.about .row .content h3{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 6rem;
    text-align: right;
    line-height: 1.5;
}

.about .row .content p{
    color: var(--light-color);
    padding: 1rem 0;
    text-align: right;
    font-size: 2.5rem;
    line-height: 1.8;
}

.btn{
    margin-top: 2rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: 5rem;
    border: .2rem solid var(--green);
    color: var(--green);
    align-items: right;
    cursor: pointer;
    background: none;
}
.btn:hover{
    background: var(--green);
    color: var(--text-color);
}

/*==========About-1 Section CSS===========*/

.about .row-1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .row-2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .row-1 .image{
    flex: 1 1 45rem;
    margin-left: 10rem;
}
.about .row-2 .image{
    flex: 1 1 45rem;
    margin-left: 10rem;
}

.about .row-1 .image img{
    width: 70%;
}

.about .row-2 .image img{
    width: 70%;
}


.about .row-1 .content-1{
    flex: 1 1 45rem;
}

.about .row-2 .content-2{
    flex: 1 1 45rem;
}

.about .row .content h4{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 4rem;
    text-align: right;
    line-height: 1.5;
}

.about .row-2 .content-2 h4{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 3rem;
    text-align: left;
    line-height: 1.5;
}

.about .row-2 .content-2 p{
    color: var(--light-color);
    padding: 1rem 0;
    text-align: left;
    font-size: 2.5rem;
    line-height: 1.8;
}

.about .row-1 .content-1 h3{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 4.5rem;
    text-align: left;
    line-height: 1.5;
}

.about .row-1 .content-1 p{
    color: var(--light-color);
    padding: 1rem 0;
    text-align: left;
    font-size: 2.5rem;
    line-height: 1.8;
}

.btn-1{
    margin-top: 2rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: 5rem;
    border: .2rem solid var(--green);
    color: var(--green);
    align-items: right;
    cursor: pointer;
    background: none;
}
.btn-1:hover{
    background: var(--green);
    color: var(--text-color);
}
/*==========Footer Section CSS===========*/
.footer-container{
    width: 100%;
    background: #012044;
    padding: 70px 30px 20px;
}

.share{
    display: flex;
    align-items: right;
    justify-content: right;
}

  
.share{
    padding-top: 0.5rem;
}
.footer-container .share a{
    height: 5rem;
    text-align: center;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background: #097cc9;
    color: var(--text-color);
    border-radius: 5rem;
    border: var(--border);
    margin: .3rem;
}
.footer-container .share a:hover{
    background: var(--text-color);
    color: #080707;
    box-shadow: var(--box-shadow);
}
  


.footer-nav ul{
    display: flex;
    justify-content: left;
}

.footer-nav ul li a{
    color: var(--text-color);
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    border: none;
    font-size: 2.5rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover{
    opacity: 1;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--text-color);
    border-top: var(--border);
}

.footer .credit span{
    color: #918e8e;
}



.button{
    margin-top: 2rem;
    padding: .8rem 3rem;
    text-align: right;
    margin-left: 39rem;
    font-size: 1.7rem;
    border-radius: 5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}


 .button:hover{
    background: var(--green);
    color: var(--text-color);
}


























/*========media queries==========*/

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width:991px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #696868;
    }

    header img{
        width: 100%;
        max-width: 150px;
        height: auto;
    }
    .about .row img{
        width: 100%;
        height: 100%;
    }
    .about .row .content h3{
        font-size: 4rem;
        text-align: left;
    }
    .about .row .content h4{
        font-size: 4rem;
        text-align: left;
    }

    .about .row .content p{
        font-size: 2rem;
        text-align: left;
    }

    .about .row .content .button{
        margin-left: 1rem;
    }

    .about .row-1 img{
        width: 100%;
        height: 100%;
    }

    .about .row-2 img{
        width: 100%;
        height: 100%;
    }



    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    }
    .home .home-slider .slide .content h3{
        font-size: 4rem;
    }
    .home .home-slider .slide .content p{
        font-size: 1.5rem;
    }

    .heading{
        font-size: 4rem;
    }

}

@media (max-width:991px){

    html{
        font-size: 50%;
    }
}

@media (max-width:700px){
    .footer-nav ul{
      flex-direction: column;
    }
    .footer-nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    .footer-container .share{
        margin-right: 5rem;
    }
}